{% load static from staticfiles %}
{% load i18n %}
<div class="row collapse hide-for-small">
	<div class="large-3 columns hide-for-small center-text capitalize-text divider-after" id="footer-font">
		Powered by <img src="{% static "images/calhaps_logo.png" %}" style="height:2em;"/>
	</div>
	<div class="large-1 columns center-text capitalize-text" id="footer-font">
		<a href="#" data-reveal-id="contactUsModal">Contact</a>
	</div>
	<div class="large-1 columns center-text capitalize-text" id="footer-font">
		<a href="#">Advertise</a>
	</div>
	<div class="large-1 columns center-text capitalize-text" id="footer-font">
		<a href="#">Faq</a>
	</div>
	<div class="large-1 columns center-text capitalize-text" id="footer-font">
		<a href="#">Daily Cal</a>
	</div>
	<div class="large-1 columns center-text capitalize-text" id="footer-font">
		<a href="#" data-reveal-id="feedbackModal">Feedback</a>
	</div>
	<div class="large-4 columns hide-for-small center-text" id="footer-font">
		&copy; The Daily Californian 2013. All rights reserved.
	</div>
</div>