{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

<!-- Font Collection -->
<link href='http://fonts.googleapis.com/css?family=Cabin:700italic' rel='stylesheet' type='text/css'>
{% csrf_token %}
<div class="fixed contain-to-grid">
  <nav class="top-bar">
    <section class="top-bar-section" id="titleTab">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class= "active" id="titleName"><a href="/" style="font-family: 'Cabin', sans-serif; font-size:37px; font-style: italic;">THE DAILY CALENDAR</a></li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right" style="padding-right:8.4%">
        <li><a href="#" data-reveal-id="addEventModal" id="addEventButton"><p>+</p>&nbsp;&nbsp;Add Event</a></li>
        {% if user.is_authenticated %}
        <li class="has-dropdown">
          <a href="#" id="loggedInButton"><img src="{{ user.thumbnail_profile_pic }}">&nbsp;&nbsp;{{ user.first_name }}</a>
          <ul class="dropdown" style="box-shadow: 0 0 10px black;">
            <li>
              <div style="height:100px;width:300px;background:white;">
                <div class="row">
                  <span>Your Next Event:</span>
                  <span>Kanye West Presents: Watch a God Glow in the park</span>
                  <ul id="favorited_events" style="color:white;">
                    <!-- Favorited Events -->
                  </ul>
                </div>
              <div>
            </li>
            <li><a href="/logout/" style="text-align:right;">Logout</a></li>
            <input type="hidden" name="user_id" value="{{user.id}}" id="user_id">
          </ul>
        </li>
        {% else %}
        <li><a href="/login/facebook/" id="loggedOutButton"><img src="{% static "images/login-tab.png" %}">Login</a></li>
        {% endif %}
       </ul>
    </section>
  </nav>
</div>

<!-- Add Event Form -->
{% include "addEventForm.html" %}

<!-- Feedback Form -->
{% include "feedbackForm.html" %}

<!-- Contact Us Information -->
{% include "contactUs.html" %}

<!-- <h2 id="heading">Logged in!</h2>

<div>
  <h3>User data:</h3>
  <table>
    <tr class="odd"><th>Id:</th> <td>{{ user.id }}</td></tr>
    <tr class="even"><th>Username:</th> <td>{{ user.username }}</td></tr>
    <tr class="odd"><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
    <tr class="even"><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
    <tr class="odd"><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
    <tr class="even"><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
  </table>
</div>

<div>

  <h3>Associate new <a href="http://tools.ietf.org/html/draft-ietf-oauth-v2-10" title="OAuth2">OAuth2</a> credentials:</h3>
  <ul>
  {% for name in social_auth.backends.oauth2 %}
    <li><a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a></li>
  {% endfor %}
  </ul>


</div>

<div>
  <a rel="nofollow" class="logout" href="/logout/">Logout</a>
</div>
 -->
