{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

<div class="fixed contain-to-grid">
  <nav class="top-bar">
    <section class="top-bar-section" id="titleTab">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class= "active" id="titleName"><a href="#">THE DAILY CALENDAR</a></li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right" style="padding-right:8.5%">
        <li><a href="#" data-reveal-id="addEventModal" style="background:red;"><img src="{% static "images/add-event.png" %}" style="height:20px;margin-right:0.5em;">ADD EVENT</a></li>
        {% if user.is_authenticated %}
        <li class="active"><a href="/logout/" style="background:black;color:white;">Logout</a></li>
        {% else %}
        <li class="active"><a href="/login/facebook/" style="background:black;color:white;"><img src="{% static "images/login-tab.png" %}" style="height:20px;margin-right:0.5em;">LOGIN</a></li>
        {% endif %}
        <!-- <li class="active"><a href=""><img src="{% static "images/search-symbol.png" %}" style="height:25px;"></a></li> -->
       </ul>
    </section>
  </nav>
</div>

<div id="addEventModal" class="reveal-modal">
  <h2>Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<!-- <h2 id="heading">Logged in!</h2>

<div>
  <h3>User data:</h3>
  <table>
    <tr class="odd"><th>Id:</th> <td>{{ user.id }}</td></tr>
    <tr class="even"><th>Username:</th> <td>{{ user.username }}</td></tr>
    <tr class="odd"><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
    <tr class="even"><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
    <tr class="odd"><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
    <tr class="even"><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
  </table>
</div>

<div>

  <h3>Associate new <a href="http://tools.ietf.org/html/draft-ietf-oauth-v2-10" title="OAuth2">OAuth2</a> credentials:</h3>
  <ul>
  {% for name in social_auth.backends.oauth2 %}
    <li><a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a></li>
  {% endfor %}
  </ul>


</div>

<div>
  <a rel="nofollow" class="logout" href="/logout/">Logout</a>
</div>
 -->
