
<div class="fixed contain-to-grid">
  <nav class="top-bar">
    <div id="addEventButton">
      <a href="#">
        <ul class="title-area">
          <!--Title Area -->
          <li class="name"> <i class="foundicon-plus addEvent"> </i> </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <!--<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>-->
        </ul>
      </a>
    </div>

    <section class="top-bar-section" id="titleTab">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class= "active"  id="titleName" > <a href="#">  THE DAILY CALENDAR </a> </li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-form">
          <form>
            <div class="row collapse">
              <div class="small-8 columns">
                <input placeholder="Search" type="text">
              </div>
              <div class="small-4 columns">
                <a href="#"> <i class="foundicon-search" id="searchSymbol"> </i> </a>
              </div>
            </div>
          </form>
        </li>
        <li class="divider"></li>
        {% if user.is_authenticated %}
        <li class="active"><a href="/logout/">Logout</a></li>
        {% else %}
        <li class="active"><a href="/login/facebook/">FB Login</a></li>
        {% endif %}
       </ul>
    </section>
  </nav>
</div>

<!-- <h2 id="heading">Logged in!</h2>

<div>
  <h3>User data:</h3>
  <table>
    <tr class="odd"><th>Id:</th> <td>{{ user.id }}</td></tr>
    <tr class="even"><th>Username:</th> <td>{{ user.username }}</td></tr>
    <tr class="odd"><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
    <tr class="even"><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
    <tr class="odd"><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
    <tr class="even"><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
  </table>
</div>

<div>

  <h3>Associate new <a href="http://tools.ietf.org/html/draft-ietf-oauth-v2-10" title="OAuth2">OAuth2</a> credentials:</h3>
  <ul>
  {% for name in social_auth.backends.oauth2 %}
    <li><a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a></li>
  {% endfor %}
  </ul>


</div>

<div>
  <a rel="nofollow" class="logout" href="/logout/">Logout</a>
</div>
 -->
