<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Block Grid - Advertise </title>

  
  <link rel="stylesheet" href="css/foundation.css" />
   <link rel="stylesheet" href="css/stylesheet1.css" />

  <script src="js/vendor/custom.modernizr.js"></script>

  <link type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.8.22.custom.css" rel="stylesheet">
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.22.custom.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.scrollTo.js"></script>


</head>

<body>

<div id="advertiseGrid" class="row">
			<div class="advertiseClass columns"> 
				<p class ="advertiseDay"> MONDAY </p>
				<img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
				<br />
				<a href="#" class="small button advertiseButton" id="mondayButton">VIEW EVENT</a>
			</div>
			<div class="advertiseClass columns"> 
				<p class ="advertiseDay"> TUESDAY </p>
				<img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
				<br />
				<a href="#" class="small button advertiseButton" id="tuesdayButton">VIEW EVENT</a>
			</div>
			<div class="advertiseClass columns"> 
				<p class ="advertiseDay"> WEDNESDAY </p>
				<img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
				<br />
				<a href="#" class="small button advertiseButton" id="wednesdayButton">VIEW EVENT</a>
			</div>
			<div class="advertiseClass columns"> 
				<p class ="advertiseDay"> THURSDAY </p>
				<img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
				<br />
				<a href="#" class="small button advertiseButton" id="thursdayButton">VIEW EVENT</a>
			</div>
			<div class="advertiseClass columns"> 
				<p class ="advertiseDay"> FRIDAY </p>
				<img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
				<br />
				<a href="#" class="small button advertiseButton" id="fridayButton">VIEW EVENT</a>
			</div>
			<div class="advertiseClass columns"> 
				<p class ="advertiseDay"> SATURDAY </p>
				<img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
				<br />
				<a href="#" class="small button advertiseButton" id="saturdayButton">VIEW EVENT</a>
			</div>
			<div class="advertiseClass columns"> 
				<p class ="advertiseDay"> SUNDAY </p>
				<img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
				<br />
				<a href="#" class="small button advertiseButton" id="sundayButton">VIEW EVENT</a>
			</div>
			
	</div>

</div>
	<!-- Using only the small-block-grid -->


<div class="filter-submenu">
	<div class="button-bar filtersubmenuLine">
	  <ul class="button-group">
	    <li><a href="#" class="small button filterButton"> ALL </a></li>
	    <li><a href="#" class="small button filterButton"> CONFEREN. </a></li>
	    <li><a href="#" class="small button filterButton"> PERFORM.</a></li>
	  </ul>
	</div>
	<div class="button-bar filtersubmenuLine">
	  <ul class="button-group">
	    <li><a href="#" class="small button filterButton">Button 1</a></li>
	    <li><a href="#" class="small button filterButton">Button 2</a></li>
	    <li><a href="#" class="small button filterButton">Button 3</a></li>
	  </ul>
	</div>
</div>
<!--<div class="small-1 columns"> PARTY</div>
		<div class="small-1 columns"> PARTY</div>
		<div class="small-1 columns"> PARTY</div>-->

	<div class="row">
	</div>

	<div class="row">
	</div>
</div>



<!--jQuery UI -->
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>