{% load static from staticfiles %}
<div id="advertiseDailyCalModal" class="reveal-modal large" data-reveal>
	<div>
     	<h1 style="color:#FF7171;font-style:italic;text-align:center;">Advertise Here</h1>
     	<p>The Daily Cal is pleased to offer a variety of advertising spaces. Squares and Towers will be scattered throughout the Grid view while Skins will remains a permanent fixture of the website for the week. For more information on sizing, statistics, etc. please call:</p>
          <h2 style="text-align:center; font-weight:500;">510-548-8300</h2>
          <br />
     	<img src='{% static "images/advertiseExample.png" %}'><br /><br />
     	<a class="close-reveal-modal">&#215;</a>
    </div>
</div>