{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_style %}
<link rel="stylesheet" href="{% static "foundation_icons_general/stylesheets/general_foundicons.css" %}" />
{% endblock %}

{% block extra_script %}
<script src="{% static "javascripts/mapscheck.js" %}"></script>
{% endblock %}

{% block content %}
<!-- <h2 id="heading">Logged in!</h2>

<div>
  <h3>User data:</h3>
  <table>
    <tr class="odd"><th>Id:</th> <td>{{ user.id }}</td></tr>
    <tr class="even"><th>Username:</th> <td>{{ user.username }}</td></tr>
    <tr class="odd"><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
    <tr class="even"><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
    <tr class="odd"><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
    <tr class="even"><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
  </table>
</div>

<div>

  <h3>Associate new <a href="http://tools.ietf.org/html/draft-ietf-oauth-v2-10" title="OAuth2">OAuth2</a> credentials:</h3>
  <ul>
  {% for name in social_auth.backends.oauth2 %}
    <li><a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a></li>
  {% endfor %}
  </ul>


</div>

<div>
  <a rel="nofollow" class="logout" href="/logout/">Logout</a>
</div>
 -->
<div id="advertiseGrid" class="row">
  <div class="advertiseClass columns"> 
    <p class ="advertiseDay"> MONDAY </p>
    <img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
    <br />
    <a href="#" class="small button advertiseButton" id="mondayButton">VIEW EVENT</a>
  </div>
  <div class="advertiseClass columns"> 
    <p class ="advertiseDay"> TUESDAY </p>
    <img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
    <br />
    <a href="#" class="small button advertiseButton" id="tuesdayButton">VIEW EVENT</a>
  </div>
  <div class="advertiseClass columns"> 
    <p class ="advertiseDay"> WEDNESDAY </p>
    <img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
    <br />
    <a href="#" class="small button advertiseButton" id="wednesdayButton">VIEW EVENT</a>
  </div>
  <div class="advertiseClass columns"> 
    <p class ="advertiseDay"> THURSDAY </p>
    <img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
    <br />
    <a href="#" class="small button advertiseButton" id="thursdayButton">VIEW EVENT</a>
  </div>
  <div class="advertiseClass columns"> 
    <p class ="advertiseDay"> FRIDAY </p>
    <img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
    <br />
    <a href="#" class="small button advertiseButton" id="fridayButton">VIEW EVENT</a>
  </div>
  <div class="advertiseClass columns"> 
    <p class ="advertiseDay"> SATURDAY </p>
    <img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
    <br />
    <a href="#" class="small button advertiseButton" id="saturdayButton">VIEW EVENT</a>
  </div>
  <div class="advertiseClass columns"> 
    <p class ="advertiseDay"> SUNDAY </p>
    <img class ="advertiseImg" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTFkgZo_t8LUq9Tq-Ox9kk3QbjUozGbrek19Nd2s7xjobjFa6LE"/>
    <br />
    <a href="#" class="small button advertiseButton" id="sundayButton">VIEW EVENT</a>
  </div>      
</div>

</div>

<div class="row collapse" id="map-content">
  <div class="large-4 columns">
    <div id="filterSideControls">
      <ul class='side-nav'>
        <li><a href='#'><img src="{% static "images/monday-side-filter.png" %}" /></a></li>
        <li><a href='#'><img src="{% static "images/tuesday-side-filter.png" %}" /></a></li>
        <li><a href='#'><img src="{% static "images/wednesday-side-filter.png" %}" /></a></li>
        <li><a href='#'><img src="{% static "images/thursday-side-filter.png" %}" /></a></li>
        <li><a href='#'><img src="{% static "images/friday-side-filter.png" %}" /></a></li>
        <li><a href='#'><img src="{% static "images/saturday-side-filter.png" %}" /></a></li>
        <li><a href='#'><img src="{% static "images/sunday-side-filter.png" %}" /></a></li>
      </ul>
    </div>
    <div id="filterMain">
      <div id="filterTopControls">
        <div class="center-text">
          <div class="large-1 columns">
            <span class="whiteText">T</span>
          </div>
          <div class="large-2 columns">
            <a href="" class="dropdown" data-dropdown="filterDropdown" data-options="is_hover:true"><img src="{% static "images/filter-icon.png" %}" style="height:1.5em;" /></a>
            <div id="filterDropdown" data-dropdown-content>
              <table id="filterDropdownTable">
                <tr>
                  <td id="filterCell"><label for="toggle-all">All</label><input type="checkbox" value="all" id="toggle-all" onclick="toggle_switch('toggle-all',this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                  <td><label for="toggle-conference">Conference</label><input type="checkbox" value="conference" id="toggle-conference" onclick="toggle_switch('toggle-conference', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                  <td><label for="toggle-performance">Performance</label><input type="checkbox" value="performance" id="toggle-performance" onclick="toggle_switch('toggle-performance', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                </tr>
                <tr>
                  <td><label for="toggle-celebrity">Celebrity</label><input type="checkbox" value="celebrity" id="toggle-celebrity" onclick="toggle_switch('toggle-celebrity', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                  <td><label for="toggle-party">Party</label><input type="checkbox" value="party" id="toggle-party" onclick="toggle_switch('toggle-party', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                  <td><label for="toggle-philanthropy">Philanthropy</label><input type="checkbox" value="philanthropy" id="toggle-philanthropy" onclick="toggle_switch('toggle-philanthropy', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                </tr>
                <tr>
                  <td><label for="toggle-food">Food</label><input type="checkbox" value="food" id="toggle-food" onclick="toggle_switch('toggle-food', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                  <td><label for="toggle-green">Green</label><input type="checkbox" value="green" id="toggle-green" onclick="toggle_switch('toggle-green', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                  <td><label for="toggle-exhibitions">Exhibitions</label><input type="checkbox" value="exhibitions" id="toggle-exhibitions" onclick="toggle_switch('toggle-exhibitions', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                </tr>
                <tr>
                  <td><label for="toggle-sports">Sports</label><input type="checkbox" value="sports" id="toggle-sports" onclick="toggle_switch('toggle-sports', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                  <td><label for="toggle-greek">Greek</label><input type="checkbox" value="greek" id="toggle-greek" onclick="toggle_switch('toggle-greek', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                  <td><label for="toggle-concert">Concert</label><input type="checkbox" value="concert" id="toggle-concert" onclick="toggle_switch('toggle-concert', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                </tr>
                <tr>
                  <td><label for="toggle-movie">Movie</label><input type="checkbox" value="movie" id="toggle-movie" onclick="toggle_switch('toggle-movie', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                  <td><label for="toggle-others">Others</label><input type="checkbox" value="others" id="toggle-others" onclick="toggle_switch('toggle-others', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="large-6 columns">
            <span class="whiteText">5th Tuesday</span>
          </div>
          <div class="large-1 columns">
            <span class="whiteText">&#x25C0;</span>
          </div>
          <div class="large-1 columns">
            <span class="whiteText">&#x25B6;</span>
          </div>
          <div class="large-1 columns">
            <span class="whiteText">&#x25B6;</span><span class="whiteText" style="margin-left:-0.5em;">&#x25B6;</span>
          </div>
        </div>
      </div>
      <div id="filterBottomContent">
        <div id="filterBottomList">
          <ul id="filteredList">
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Party Name</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Philanthropic event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Good event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Party Name</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Philanthropic event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Good event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Party Name</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Philanthropic event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Good event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Party Name</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Philanthropic event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Good event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Party Name</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Philanthropic event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Good event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Party Name</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Philanthropic event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Good event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Party Name</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Philanthropic event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Good event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Party Name</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Philanthropic event</li>
            <li><i class="foundicon-smiley" style="margin-bottom:0px; margin-right:10px;"> </i> Good event</li>          
          </ul>
        </div>
        <div id="filterBottomControlMenu">
          <img src="{% static "images/list-icon.png" %}" style="height:2em;float:left;margin-left:10px;margin-bottom:5px;" />
          <img src="{% static "images/calendar-icon.png" %}" style="height:2em;float:right;margin-right:10px;margin-bottom:5px;" />
        </div>
      </div>
    </div>
  </div>
  <div class="large-8 columns">
    <div id="map-canvas"></div>
  </div>
</div>

{% endblock %}
