{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h2 id="heading">Logged in!</h2>

<div>
  <h3>User data:</h3>
  <table>
    <tr class="odd"><th>Id:</th> <td>{{ user.id }}</td></tr>
    <tr class="even"><th>Username:</th> <td>{{ user.username }}</td></tr>
    <tr class="odd"><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
    <tr class="even"><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
    <tr class="odd"><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
    <tr class="even"><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
  </table>
</div>

<div>
{% if social_auth.associated %}
  <h3>Disconnect accounts</h3>
  <ul>
  {% for type, accounts in social_auth.associated.items %}
    {% for account in accounts %}
    <li>
      <span class="disconnect">
        <form action="{% url "socialauth_disconnect_individual" account.provider account.id %}" method="post">
          {% csrf_token %}
          <a href="#">{{ account.provider|title }} (ID {{ account.id }})</a>
        </form>
      </span>
    </li>
    {% endfor %}
  {% endfor %}
  </ul>
{% endif %}


  <h3>Associate new <a href="http://tools.ietf.org/html/draft-ietf-oauth-v2-10" title="OAuth2">OAuth2</a> credentials:</h3>
  <ul>
  {% for name in social_auth.backends.oauth2 %}
    <li><a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a></li>
  {% endfor %}
  </ul>


</div>

<div>
  <a rel="nofollow" class="logout" href="/logout/">Logout</a>
</div>

<script type="text/javascript">
  $(function () {
    $('.disconnect form a').on('click', function (e) {
      e.preventDefault();
      $(this).parent('form').submit();
    });
  });
</script>
{% endblock %}
