{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block content %}

<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  function initialize() {
  	console.log("hello!");
    var myLatlng = new google.maps.LatLng({{ event.location.lat }},{{ event.location.lng }});
    var mapOptions = {
      zoom: 16,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      draggable: false
    }
    var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: "{{ event.title }}"
    });
  }

  $(document).ready(initialize);
</script>

<!-- Main Content -->
<div class="row collapse">
  	<div class="large-10 large-offset-1 columns">
  		{% csrf_token %}
  		<div class="row collapse">
		    <div style="height:300px;" id="map_canvas"></div>
  		</div>
  		<div class="row collapse">
	  		<div class="large-3 columns">
	  			<script type="text/javascript">

	  			</script>
	  			<img src="{{ event.club.image }}">
	  		</div>
	  		<div class="large-6 columns" id="map-container">
	  			<h2>{{ event.title }}</h2>
	  			<p class="radius success label">@{{ event.location.name }}, {{ event.startTime }}</p>
	  			<hr>
	  			<p>{{ event.description|safe }}</p>
	  			<h5>About the organization: {{ event.club.name }}</h5>
	  			<p>{{ event.club.description|safe }}</p>
			</div>
			<div class="large-3 columns">
				{% if similarEvents %}
					<h3>Similar Events</h3>
					<ul class="side-nav">
						{% for event in similarEvents %}
							<li><a href="/event/{{ event.id }}/">{{ event.title }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}