<div id="faqModal" class="reveal-modal small" data-reveal>
	<div style="text-align:center;">
     	<h1>FAQ</h1>
     	<p>The Daily Californian</p>
     	<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/276089_805239109_1278516360_n.jpg"><br><br>
     	<p>
     		<b><i>Sanchit Bareja:</i></b> An EECS major and builds random things<br />
     		<i>sanchitbareja@gmail.com</i>
     	</p>

     	<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/273682_845180367_987530956_n.jpg"><br><br>
     	<p>
     		<b><i>Hardik Agarwal:</i></b> An EECS major and comes up with random things<br />
     		<i>hahardikagrawal@gmail.com</i>
     	</p>
     	<a class="close-reveal-modal">&#215;</a>
    </div>
</div>