{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block extra_script %}
<!-- Custom functions for the app -->
<script src="{% static "javascripts/app.js" %}"></script>
{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{% static "foundation_icons_general/stylesheets/general_foundicons.css" %}" />
{% endblock %}

{% block content %}

<div class="row collapse">
  <div class="large-1 columns hide-for-small">
    <div id="sideControls">
      <ul class="side-nav">
        <li style="margin:10px 0 0 0;"><a href="javscript:;"><p style="font-size:22pt;margin-bottom:0;color:#EC1C58;" id="number_events">0</p><p style="font-size:12pt;margin-top:-10px;margin-bottom:0;color:#686969;">events</p><p style="font-size:12pt;margin-top:-5px;margin-bottom:0;color:#EC1C58;" id="noOfEventsDateDisplay">today</p></a></li>
        {% if view == "grid" %}
        <li class="selected-tab" style="margin:30px 0 30px 0;"><a href="/"><img src="{% static "images/grid-view-tab.png" %}" /><br />GRID</a></li>
        <li class="not-selected-tab"><a href="/map/"><img src="{% static "images/map-view-tab.png" %}" /><br />MAP</a></li>
        {% elif view == "map" %}
        <li class="not-selected-tab" style="margin:30px 0 30px 0;"><a href="/"><img src="{% static "images/grid-view-tab.png" %}" /><br />GRID</a></li>
        <li class="selected-tab"><a href="/map/"><img src="{% static "images/map-view-tab.png" %}" /><br />MAP</a></li>
        {% endif %}
        <!-- <li class="not-selected-tab"><p style="color:grey;"><img style="width:70px;" src="{% static "images/month-view-tab-coming-soon.png" %}" /><br />MONTH</p></li> -->
      </ul>
    </div>
  </div>
  <div class="large-10 columns">
    {% if view == "grid" %}
      <div id="pin-columns">

      </div>
    {% elif view == "map" %}
      <div class="row collapse" id="map-content">
        <div class="large-4 columns">
          <div id="filterMain">
            <div id="filterTopControls">
              <div class="center-text">
                <div class="large-1 columns">
                  <a href="javascript:;" onclick="previous_date(); get_events_and_update_ui(textify_filters(get_filters()), textify_date());"><span class="whiteText">&#x25C0;</span></a>
                </div>
                <div class="large-2 columns">
                  <a href="javascript:;" onclick="to_today_date(); get_events_and_update_ui(textify_filters(get_filters()), textify_date());"><span class="whiteText">Today</span></a>
                </div>
                <!-- <div class="large-2 columns">
                  <a href="" class="dropdown" data-dropdown="filterDropdown" data-options="is_hover:true"><img src="{% static "images/filter-icon.png" %}" style="height:1.5em;" /></a>
                  <div id="filterDropdown" data-dropdown-content>
                    <table id="filterDropdownTable">
                      <tr>
                        <td id="filterCell"><label for="toggle-all">All</label><input type="checkbox" value="all" id="toggle-all" onclick="toggle_switch('toggle-all',this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                        <td><label for="toggle-conference">Conference</label><input type="checkbox" value="conferences" id="toggle-conference" onclick="toggle_switch('toggle-conference', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                        <td><label for="toggle-performance">Performance</label><input type="checkbox" value="performances" id="toggle-performance" onclick="toggle_switch('toggle-performance', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                      </tr>
                      <tr>
                        <td><label for="toggle-celebrity">Celebrity</label><input type="checkbox" value="celebrity" id="toggle-celebrity" onclick="toggle_switch('toggle-celebrity', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                        <td><label for="toggle-party">Party</label><input type="checkbox" value="parties" id="toggle-party" onclick="toggle_switch('toggle-party', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                        <td><label for="toggle-philanthropy">Philanthropy</label><input type="checkbox" value="philanthropy" id="toggle-philanthropy" onclick="toggle_switch('toggle-philanthropy', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                      </tr>
                      <tr>
                        <td><label for="toggle-food">Food</label><input type="checkbox" value="food" id="toggle-food" onclick="toggle_switch('toggle-food', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                        <td><label for="toggle-green">Green</label><input type="checkbox" value="green" id="toggle-green" onclick="toggle_switch('toggle-green', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                        <td><label for="toggle-exhibitions">Exhibitions</label><input type="checkbox" value="exhibitions" id="toggle-exhibitions" onclick="toggle_switch('toggle-exhibitions', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                      </tr>
                      <tr>
                        <td><label for="toggle-sports">Sports</label><input type="checkbox" value="sports" id="toggle-sports" onclick="toggle_switch('toggle-sports', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                        <td><label for="toggle-greek">Greek</label><input type="checkbox" value="greek" id="toggle-greek" onclick="toggle_switch('toggle-greek', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                        <td><label for="toggle-concert">Concert</label><input type="checkbox" value="concerts" id="toggle-concert" onclick="toggle_switch('toggle-concert', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                      </tr>
                      <tr>
                        <td><label for="toggle-movie">Movie</label><input type="checkbox" value="movies" id="toggle-movie" onclick="toggle_switch('toggle-movie', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                        <td><label for="toggle-others">Others</label><input type="checkbox" value="others" id="toggle-others" onclick="toggle_switch('toggle-others', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
                        <td></td>
                      </tr>
                    </table>
                  </div>
                </div> -->
                <div class="large-6 columns">
                  <span class="whiteText" id="filteredDateDisplay"></span>
                </div>
                <div class="large-1 columns">
                  <a href="javascript:;" onclick="next_date(); get_events_and_update_ui(textify_filters(get_filters()), textify_date());"><span class="whiteText">&#x25B6;</span></a>
                </div>
                <!-- <div class="large-1 columns">
                  <a href="javascript:;" onclick="next_week_date(); get_events_and_update_ui(textify_filters(get_filters()), textify_date());"><span class="whiteText">&#x25B6;</span><span class="whiteText" style="margin-left:-0.5em;">&#x25B6;</span></a>
                </div> -->
              </div>
            </div>
            <div id="filterBottomContent">
              <div id="filterBottomList">
                <ul id="filteredList">   
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="large-8 columns">
          <div id="map-canvas"></div>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="large-1 columns hide-for-small">
    <div id="sideFilters">
      <table id="filterDropdownTable">
        <tr>
          <td id="filterCell"><label for="toggle-all">All</label><input type="checkbox" value="all" id="toggle-all" onclick="toggle_switch('toggle-all',this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-conference">Conference</label><input type="checkbox" value="conferences" id="toggle-conference" onclick="toggle_switch('toggle-conference', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-performance">Performance</label><input type="checkbox" value="performances" id="toggle-performance" onclick="toggle_switch('toggle-performance', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-celebrity">Celebrity</label><input type="checkbox" value="celebrity" id="toggle-celebrity" onclick="toggle_switch('toggle-celebrity', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-party">Party</label><input type="checkbox" value="parties" id="toggle-party" onclick="toggle_switch('toggle-party', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-philanthropy">Philanthropy</label><input type="checkbox" value="philanthropy" id="toggle-philanthropy" onclick="toggle_switch('toggle-philanthropy', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-food">Food</label><input type="checkbox" value="food" id="toggle-food" onclick="toggle_switch('toggle-food', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-green">Green</label><input type="checkbox" value="green" id="toggle-green" onclick="toggle_switch('toggle-green', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-exhibitions">Exhibitions</label><input type="checkbox" value="exhibitions" id="toggle-exhibitions" onclick="toggle_switch('toggle-exhibitions', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-sports">Sports</label><input type="checkbox" value="sports" id="toggle-sports" onclick="toggle_switch('toggle-sports', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-greek">Greek</label><input type="checkbox" value="greek" id="toggle-greek" onclick="toggle_switch('toggle-greek', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-concert">Concert</label><input type="checkbox" value="concerts" id="toggle-concert" onclick="toggle_switch('toggle-concert', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-movie">Movie</label><input type="checkbox" value="movies" id="toggle-movie" onclick="toggle_switch('toggle-movie', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr><tr>
          <td><label for="toggle-others">Others</label><input type="checkbox" value="others" id="toggle-others" onclick="toggle_switch('toggle-others', this)"><img src="{% static "images/checkmark.png" %}" id="filterCheckmark"/></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- Event Information Modal -->
{% include "eventInfoModal.html" %}

<script type="text/javascript">

$("label[for=toggle-all]").click();

</script>



{% endblock %}
